<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/maria_favicon.ico" type="image/x-icon" />
</head>
<body>
    <h1>用户管理</h1>
    <ul>
    <li><a href="/users/usercontrol/deleteuser">删除用户</a></li>
    <li><a href="/users/usercontrol/restoreuser">恢复用户</a></li>
    <li><a href="/users/usercontrol/updateuser">修改用户</a></li>
    <li><a href="/users/usercontrol/userlist">用户列表</a></li>
    <li><a href="/users">返回主页</a></li>
    </ul>
</body>
</html>